.ItemContainer {
    margin-top: 2rem;
}

.columnDescriptionItem{
    padding-bottom: 10px;
}

.priceItem{
    margin: auto;
    display: flex;
    align-items: flex-start;
    font-size: large;
    font-weight: bold;
    color: black;
}

.btnTerminarCompra{
    margin-top: 1rem;
}